@media (max-width: 1370px) {
    .cardAllPokemons {
        width: 350px;
    }
}

@media (max-width: 1240px) {
    .cardAllPokemons {
        width: 300px;
    }
}

@media (max-width: 1080px) {
    .cardAllPokemons {
        width: 250px;
    }
}

@media (max-width: 1115px) {
    header img {
        width: 600px;
    }
}

@media (max-width: 980px) {
    header {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 920px) {
    .cardAllPokemons {
        width: 350px;
    }
}

@media (max-width: 850px) {
    .cardBackground {
        width: 700px;
    }

    .card {
        width: 700px;
    }

    .cardAllPokemons {
        width: 300px;
    }
}

@media (max-width: 750px) {
    .cardBackground {
        width: 600px;
    }

    .card {
        width: 600px;
    }

    .cardAllPokemons {
        width: 450px;
    }

    img#pokemonPicture {
        width: 400px;
    }
}

@media (max-width: 650px) {
    .cardBackground {
        width: 500px;
    }

    .card {
        width: 500px;
    }

    .cardAllPokemons {
        width: 400px;
    }

    img#pokemonPicture {
        width: 300px;
    }
}

@media (max-width: 630px) {
    header img {
        width: 400px;
    }
}

@media (max-width: 540px) {
    .responsiveColumn {
        display: flex;
        flex-direction: column;
    }

    .cardBackground {
        width: 400px;
    }

    .card {
        width: 400px;
    }

    #nav {
        gap: 50px;
    }

    img#pokemonPicture {
        width: 400px;
    }
}

@media (max-width: 500px){
    .cardAllPokemons{
        width: 350px;
    }
}

@media (max-width: 450px) {
    .cardAllPokemons {
        width: 300px;
    }
}

@media (max-width: 420px) {
    .cardBackground {
        width: 310px;
    }

    .card {
        width: 300px;
    }

    img#pokemonPicture {
        width: 300px;
    }
}

@media (max-width: 415px) {
    header img {
        width: 200px;
    }

    img#pokemonPicture {
        width: 300px;
    }
}

@media (max-width: 390px) {
    .cardAllPokemons {
        width: 250px;
    }
}