/* NAVBAR */
#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    gap: 100px;
}

#nav img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}


/* CARD-TOP */
.IDname {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#typ img {
    width: 30px;
    height: 30px;
}

.card {
    width: 500px;
    height: auto;
}

.cardBackground {
    background-color: #FFB6C0;
    border-radius: 20px;
    padding: 10px;
}

/* CARD-MIDDLE */
#contentBig {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
    position: fixed;
    top: 0;
    left: 50px;
    right: 50px;
    bottom: 50px;
    z-index: 10;
}

#bgImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bgImg img {
    width: 100%;
}


/* CARD-TEXT */
.card-body {
    max-width: 300px;
}


/* CARD-INFORMATION */
#accordionFlushExample {
    width: 300px;
}


/* EVOLUTION */
#evolutionImgTemplate {
    display: flex;
    justify-content: space-between;
}

#evolutionImgTemplate img {
    width: 80px;
    height: 80px;
}