body {
    margin: 0;
}

* {
    font-family: "Teko-Regular.ttf";
}

@font-face {
    font-family: Teko-Regular;
    src: url('./fonts/static/Teko-Regular.ttf');
}

td {
    width: 100%;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.pointer {
    cursor: pointer;
}

#loadingBackground {
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

#loadingScreen {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
}


/* NAVBAR */
#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    gap: 100px;
}

#nav img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}


/* CARD-TOP */
.IDname {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#typ img {
    width: 30px;
    height: 30px;
}


/* CARD-MIDDLE */
#contentBig {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#bgImg {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* CARD-TEXT */
.card-body {
    max-width: 300px;
}


/* CARD-INFORMATION */
#accordionFlushExample {
    width: 300px;
}


/* EVOLUTION */
#evolutionImgTemplate {
    display: flex;
    justify-content: space-between;
}

#evolutionImgTemplate img {
    width: 80px;
    height: 80px;
}