body {
    margin: 0;
    font-family: "Teko-Regular.ttf" !important;
}

html {
    font-family: "Teko-Regular.ttf";
}

@font-face {
    font-family: Teko-Regular;
    src: url('./fonts/static/Teko-Regular.ttf');
}

td {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* NAVBAR */
#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    gap: 100px;
}

#nav img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}


/* CARD-TOP */
.IDname {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#typ img {
    width: 30px;
    height: 30px;
}


/* CARD-MIDDLE */
#contentBig {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#bgImg {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* CARD-TEXT */
.card-body {
    max-width: 300px;
}


/* CARD-INFORMATION */
#accordionFlushExample {
    width: 300px;
}

