body {
    margin: 0;
}

#showBig {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    gap: 100px;
}

#showBig img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#contentBig {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

#showBigImg {
    /* border: 2px solid black; */
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.IDname{
    display: flex;
    justify-content: space-around;
    align-items: center;
}